@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Orbitron:wght@400;500;700&display=swap");
.calculator {
  position: absolute;
  width: 368px;
  top: 50%;
  left: 50%;
  background-color: #39383d;
  padding: 20px;
  border-radius: 8px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 280px) {
  .calculator {
    width: 100%;
  }
  .calculator table {
    width: 100%;
  }
}

.calculator .input-display {
  width: 100%;
  background: #252525;
  color: #41c0b1;
  height: 70px;
  font-size: 3rem;
  text-align: right;
  border: none;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0.5em;
}

.calculator .developer {
  width: 100%;
}

.calculator .developer p {
  color: #d81159;
  text-align: center;
  font-size: 10px;
}

.btn-input {
  width: 75px;
  height: 75px;
  margin: 2px;
  color: #41c0b1;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (max-width: 280px) {
  .btn-input {
    width: 50px;
    height: 50px;
  }
}

.btn-input:hover {
  opacity: 0.85;
  color: #252525;
}

.btn-del {
  width: 75px;
  height: 75px;
  margin: 2px;
  color: #d81159;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (max-width: 280px) {
  .btn-del {
    width: 50px;
    height: 50px;
  }
}

.btn-del:hover {
  opacity: 0.85;
  color: #252525;
}

.btn-clear {
  width: 75px;
  height: 75px;
  margin: 2px;
  color: #1d4e89;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (max-width: 280px) {
  .btn-clear {
    width: 50px;
    height: 50px;
  }
}

.btn-clear:hover {
  opacity: 0.85;
  color: #252525;
}

.btn-equal {
  width: 75px;
  height: 154px;
  margin: 2px;
  color: #41c0b1;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (max-width: 280px) {
  .btn-equal {
    width: 50px;
    height: 50px;
  }
}

.btn-equal:hover {
  opacity: 0.85;
  color: #252525;
}

@media screen and (max-width: 280px) {
  .btn-equal {
    width: 50px;
    height: 104px;
  }
}

.btn-zero {
  width: 154px;
  height: 75px;
  margin: 2px;
  color: #41c0b1;
  font-size: 1.2em;
  font-weight: 600;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media screen and (max-width: 280px) {
  .btn-zero {
    width: 50px;
    height: 50px;
  }
}

.btn-zero:hover {
  opacity: 0.85;
  color: #252525;
}

@media screen and (max-width: 280px) {
  .btn-zero {
    width: 104px;
    height: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  overflow: hidden;
}

body {
  background: #fafafa;
}
/*# sourceMappingURL=style.css.map */